.blog-home {
  padding: 5px;
}

.blog-hero>h1 {
  color: rgb(3, 3, 3);
  font-size: 3rem;
  text-shadow: -1px -1px 0 rgb(244, 241, 255), 1px -1px 0 rgb(244, 241, 255), -1px 1px 0 rgb(244, 241, 255),
  1px 1px 0 rgb(244, 241, 255);
}

